/* common styles  */
body{
    width: 100%;
    height: auto;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
}
h4{
    font-size: 18px;
    line-height: 27px;
}
main{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    width: 80%;
    height: auto;
}
header{
    width: 100%;
    height: 500px;
    background-color: #161616;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;

}
.top-banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-info{
    width: 40%;
}
.banner-image{
    width: 40%;
}
.banner-image img{
width: 60%;
padding-left: 15%;
transition: width 2s;
}
.banner-image img:hover{
    width: 65%;
}
.top-button{
 width:12rem;
 height:3rem; 
 margin-top: 3rem;  
 display: flex;
 background-color:#DD0000;
 align-items: center;
 justify-content: center;
 border-radius: 5px;
}
.top-button  a{
    text-decoration: none;
    color: white;
    margin-right:3%;
}
/* blogs  */
.blogs{
    display: flex;
    gap: 3%;
    margin-top: 3%;

}
.blog-left{
background-color:#161616;
width: 25%;
height: 280px;
padding-top: 3%;
border-radius: 5px;
display: flex;
flex-direction: column;
}
.Blog-button{
   width: 80%;
   height: 54px;
   margin: 5% 10%;
   background-color: white; 
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.Blog-button a{
    text-decoration: none;
    color: black;
}
.Blog-button:hover{
    background-color: #DD0000;
    transition: .5s;
}

.blog-right{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 2%;
width: 75%;
}
.blog{
    border: 1px solid#E8E8E8;
    border-radius: 10px;
    
}
.blog-content{
padding-left: 5%;
}
.blog-images img{
    width: 100%;
}
button{

    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    width: 6rem;
    height:2rem;
}
.blog-info{
    display: flex;
    align-items: center;
    gap: 15%;
    color: #161616B2;
}
.icon{
    margin-right: 3px;
}
.veiw-all-button{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    margin-top: 150px;
}
.veiw-all-button p{
    width: 132px;
    height: 47px;
    border-radius: 5px;
    color: white;    
    background-color: #DD0000;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    width: 85%;
    margin-top: 3em;
    margin-bottom: 2em;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    background-color: #161616;
    color: white;
    width: 100%;
    height:30em;
}
.footer-menu{
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;

}
.footer-menu a{
    text-decoration: none;
    color: white;
}
.social-media{
    display: flex;
    gap: 2em;
    margin-top: 2em;
}
.social-media a{
    color: white;
    font-size:20px;
    padding:1rem;
    border-radius: 5px;
}
.social-media a:hover{
    background-color:#2E86C1;
}
/* media query  */
/* tablate device */
@media only screen and (min-width:668px) and (max-width:992px) {
    h1{
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
    }
    header{
        height: 380px;
    }
    .blog-left{
        flex-direction:row;
        height: auto;
        width: 100%;
        background-color:white;

    }
    .Blog-button{
        margin: 4%;
        padding-top:0;
        border: 1px solid #E8E8E8;

    }

    .blogs{
        flex-direction: column;
    }
    .blog-right{
        width:80%;
        margin-left:10%;
        margin-right:10%;
        height:90%;
        margin-top: 5%;
        margin-bottom: 5%;
        grid-template-columns: repeat(2,1fr);
    }
    .veiw-all-button{
        display:block;
        display: flex;
        align-items: center;
    }
    .footer-menu{
        width:580px;
        flex-wrap: wrap;
    }
}
/* mobile device  */
@media only screen and (max-width:688px) {
   header{
    height:800px;
    
   }
   h1 {
    font-weight: 500;
    font-size: 38px;
    line-height: 50px;
}

    .top-banner{
    flex-direction:column;
   } 
   .banner-info {
    width: 80%;
    height: 40%;
  } 
  .banner-image {
    width: 80%;
    height: 40%;
}

   .blogs{
    flex-direction: column;
   }
   .blog-left{
    background-color: white;
    width: auto;
   }
   .Blog-button{
    width: auto;
    border: 1px solid #E8E8E8;
   }
    .blog-right{
        width:80%;
        margin-left:10%;
        margin-right:10%;
        height:80%;
        margin-top: 5%;
        margin-bottom:600px;
        grid-template-columns:1fr;
    }
   footer{
    height:800px;
   
   }
   .footer-menu{
    flex-direction: column;
   }
}